Code/simple-deep-working
Code/deeplearning-cats-dogs-tutorial
Code/simple-deep/input/*
Code/two-nets/input/*
Code/two-nets/comms/*
*.caffemodel
*.solverstate
*.log
Code/two-nets/models/model.png
Code/simple-deep/models/submission_model_1.csv
Code/two-nets/code/model.png
*.pyc
Code/cifar10/input/*
Code/cifar10/images/*
Code/cifar10/comms/*
Code/cifar10/models/snapshots/*
Code/cifar10/snapshots/*
*.DS_Store
*.png

